html, body {
  margin: 0;
  padding: 0.5rem;
}

body {
  font-size: 1rem;
  background: #fff;
}

h1 {
  margin: 0 0 1rem 0;
}

p {
  font-size: inherit;
}

section {
  width: 100%;
}

.pending {
  background-color: orange;
}

.success {
  background-color: green;
}

.error {
  background-color: red;
}

ul {
  padding-left: 5px;
}

li {
  margin-bottom: 10px;
  font-size: 0.9em;
}